<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           ">
    <import resource="classpath:spring.xml"/>

    <bean id="dynamoDB" class="helloworld.dynamo.LocalDynamoDbFactoroy">
        <!--property name="localDynamoDb" value="http://192.168.99.100:8000"/-->
        <property name="localDynamoDb" value="http://127.0.0.1:8000"/>
    </bean>
</beans>